.about__top {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.about__top-title {
    font-family: @Open;
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: 65px;
    letter-spacing: 0.1em;
    text-align: center;
    color: @light;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    
    &::first-letter {
        color: #D1A954;
    }
}

.about_bot {
    display: flex;
    justify-content: space-between;
    margin-bottom: 150px;
}

.about__content {
    margin-right: 30px;
}

.about__content-title {
    font-family: Open Sans Condensed;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-align: left;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: @light;
    margin-bottom: 40px;
}

.about__content-text {
    font-family: @OpenSans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;  
    color: @light;
    width: 445px;
}

.about__information {
    margin-right: 30px;
}

.about__information-titls {
    font-family: @Open;
    font-size: 21px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: 0.1em;
    text-align: left;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: @light;
    margin-bottom: 40px;
}

.header__icon {
    margin-bottom: 15px;
}

.about__information-info {
    font-family: @Open;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-align: left;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: @light;
    margin-bottom: 27px;

    &--color {
        color: #D1A954;
    }
}

.header__icon4 {
    margin-bottom: 17px;
}

.about__information-info2 {
    font-family: @Open;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px;
    letter-spacing: 0.05em;
    text-align: left;
    line-height: 22px;
    letter-spacing: 0.05em;
    color: @light;


    &--color {
        color: #D1A954;
    }
}