.header__top {
   background-image: url(../img/header__bgimg.png);
   background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 150px;
}

.header__wrapper {
    padding: 51px 0px 268px 0px;
}


.header_information {
    display: flex;
}

.header_information-content {
    margin-top: 117px;
}

.header_information-title {
    font-family: @Open;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 87px;
    letter-spacing: 0.1em;
    text-align: left;
    color: @light;
    margin-bottom: 50px;
}


.header_information-text {
    font-family: @OpenSans;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    color: @light;
    width: 540px;
    margin: 0px 125px 49px 0px;
}

.header_information-btn {
    font-family: @Open;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 25px;
    letter-spacing: 0.1em;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: @light;
    padding: 10px 41px 10px 41px;
    background-color: #D1A954;
    box-sizing: border-box;

    &:hover {
        cursor: pointer;
        box-shadow: 0 0 10px 0 #D1A954 inset, 0 0 10px 4px #D1A954;
    }
}

  .btn:hover, .btn:focus {
    color: #fff;
    outline: 0;
  }

.header__information-img {
    box-shadow: 20px 20px #d1a954;
}