.partner__wrapper {
    margin-bottom: 120px;
}

.partner__title {
    font-family: @Open;
    font-size: 48px;
    font-style: normal;
    font-weight: 300;
    line-height: 65px;
    letter-spacing: 0.1em;
    text-align: center;
    text-transform: uppercase;
    color: @light;
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    height: 65px;
    

    &-active {
        color: #D1A954;
    }
}

.partner__icon {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 200px;
}
